.grid {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(12, 1fr);
	gap: 1.5rem;
}
.grid .col-1 {
	grid-column: auto/span 1;
}
.grid .col-2 {
	grid-column: auto/span 2;
}
.grid .col-3 {
	grid-column: auto/span 3;
}
.grid .col-4 {
	grid-column: auto/span 4;
}
.grid .col-5 {
	grid-column: auto/span 5;
}
.grid .col-6 {
	grid-column: auto/span 6;
}
.grid .col-7 {
	grid-column: auto/span 7;
}
.grid .col-8 {
	grid-column: auto/span 8;
}
.grid .col-9 {
	grid-column: auto/span 9;
}
.grid .col-10 {
	grid-column: auto/span 10;
}
.grid .col-11 {
	grid-column: auto/span 11;
}
.grid .col-12 {
	grid-column: auto/span 12;
}
.grid .start-1 {
	grid-column-start: 1;
}
.grid .start-2 {
	grid-column-start: 2;
}
.grid .start-3 {
	grid-column-start: 3;
}
.grid .start-4 {
	grid-column-start: 4;
}
.grid .start-5 {
	grid-column-start: 5;
}
.grid .start-6 {
	grid-column-start: 6;
}
.grid .start-7 {
	grid-column-start: 7;
}
.grid .start-8 {
	grid-column-start: 8;
}
.grid .start-9 {
	grid-column-start: 9;
}
.grid .start-10 {
	grid-column-start: 10;
}
.grid .start-11 {
	grid-column-start: 11;
}
@media (min-width: 576px) {
	.grid .col-sm-1 {
		grid-column: auto/span 1;
	}
	.grid .col-sm-2 {
		grid-column: auto/span 2;
	}
	.grid .col-sm-3 {
		grid-column: auto/span 3;
	}
	.grid .col-sm-4 {
		grid-column: auto/span 4;
	}
	.grid .col-sm-5 {
		grid-column: auto/span 5;
	}
	.grid .col-sm-6 {
		grid-column: auto/span 6;
	}
	.grid .col-sm-7 {
		grid-column: auto/span 7;
	}
	.grid .col-sm-8 {
		grid-column: auto/span 8;
	}
	.grid .col-sm-9 {
		grid-column: auto/span 9;
	}
	.grid .col-sm-10 {
		grid-column: auto/span 10;
	}
	.grid .col-sm-11 {
		grid-column: auto/span 11;
	}
	.grid .col-sm-12 {
		grid-column: auto/span 12;
	}
	.grid .start-sm-1 {
		grid-column-start: 1;
	}
	.grid .start-sm-2 {
		grid-column-start: 2;
	}
	.grid .start-sm-3 {
		grid-column-start: 3;
	}
	.grid .start-sm-4 {
		grid-column-start: 4;
	}
	.grid .start-sm-5 {
		grid-column-start: 5;
	}
	.grid .start-sm-6 {
		grid-column-start: 6;
	}
	.grid .start-sm-7 {
		grid-column-start: 7;
	}
	.grid .start-sm-8 {
		grid-column-start: 8;
	}
	.grid .start-sm-9 {
		grid-column-start: 9;
	}
	.grid .start-sm-10 {
		grid-column-start: 10;
	}
	.grid .start-sm-11 {
		grid-column-start: 11;
	}
}
@media (min-width: 768px) {
	.grid .col-md-1 {
		grid-column: auto/span 1;
	}
	.grid .col-md-2 {
		grid-column: auto/span 2;
	}
	.grid .col-md-3 {
		grid-column: auto/span 3;
	}
	.grid .col-md-4 {
		grid-column: auto/span 4;
	}
	.grid .col-md-5 {
		grid-column: auto/span 5;
	}
	.grid .col-md-6 {
		grid-column: auto/span 6;
	}
	.grid .col-md-7 {
		grid-column: auto/span 7;
	}
	.grid .col-md-8 {
		grid-column: auto/span 8;
	}
	.grid .col-md-9 {
		grid-column: auto/span 9;
	}
	.grid .col-md-10 {
		grid-column: auto/span 10;
	}
	.grid .col-md-11 {
		grid-column: auto/span 11;
	}
	.grid .col-md-12 {
		grid-column: auto/span 12;
	}
	.grid .start-md-1 {
		grid-column-start: 1;
	}
	.grid .start-md-2 {
		grid-column-start: 2;
	}
	.grid .start-md-3 {
		grid-column-start: 3;
	}
	.grid .start-md-4 {
		grid-column-start: 4;
	}
	.grid .start-md-5 {
		grid-column-start: 5;
	}
	.grid .start-md-6 {
		grid-column-start: 6;
	}
	.grid .start-md-7 {
		grid-column-start: 7;
	}
	.grid .start-md-8 {
		grid-column-start: 8;
	}
	.grid .start-md-9 {
		grid-column-start: 9;
	}
	.grid .start-md-10 {
		grid-column-start: 10;
	}
	.grid .start-md-11 {
		grid-column-start: 11;
	}
}
@media (min-width: 992px) {
	.grid .col-lg-1 {
		grid-column: auto/span 1;
	}
	.grid .col-lg-2 {
		grid-column: auto/span 2;
	}
	.grid .col-lg-3 {
		grid-column: auto/span 3;
	}
	.grid .col-lg-4 {
		grid-column: auto/span 4;
	}
	.grid .col-lg-5 {
		grid-column: auto/span 5;
	}
	.grid .col-lg-6 {
		grid-column: auto/span 6;
	}
	.grid .col-lg-7 {
		grid-column: auto/span 7;
	}
	.grid .col-lg-8 {
		grid-column: auto/span 8;
	}
	.grid .col-lg-9 {
		grid-column: auto/span 9;
	}
	.grid .col-lg-10 {
		grid-column: auto/span 10;
	}
	.grid .col-lg-11 {
		grid-column: auto/span 11;
	}
	.grid .col-lg-12 {
		grid-column: auto/span 12;
	}
	.grid .start-lg-1 {
		grid-column-start: 1;
	}
	.grid .start-lg-2 {
		grid-column-start: 2;
	}
	.grid .start-lg-3 {
		grid-column-start: 3;
	}
	.grid .start-lg-4 {
		grid-column-start: 4;
	}
	.grid .start-lg-5 {
		grid-column-start: 5;
	}
	.grid .start-lg-6 {
		grid-column-start: 6;
	}
	.grid .start-lg-7 {
		grid-column-start: 7;
	}
	.grid .start-lg-8 {
		grid-column-start: 8;
	}
	.grid .start-lg-9 {
		grid-column-start: 9;
	}
	.grid .start-lg-10 {
		grid-column-start: 10;
	}
	.grid .start-lg-11 {
		grid-column-start: 11;
	}
}
@media (min-width: 1200px) {
	.grid .col-xl-1 {
		grid-column: auto/span 1;
	}
	.grid .col-xl-2 {
		grid-column: auto/span 2;
	}
	.grid .col-xl-3 {
		grid-column: auto/span 3;
	}
	.grid .col-xl-4 {
		grid-column: auto/span 4;
	}
	.grid .col-xl-5 {
		grid-column: auto/span 5;
	}
	.grid .col-xl-6 {
		grid-column: auto/span 6;
	}
	.grid .col-xl-7 {
		grid-column: auto/span 7;
	}
	.grid .col-xl-8 {
		grid-column: auto/span 8;
	}
	.grid .col-xl-9 {
		grid-column: auto/span 9;
	}
	.grid .col-xl-10 {
		grid-column: auto/span 10;
	}
	.grid .col-xl-11 {
		grid-column: auto/span 11;
	}
	.grid .col-xl-12 {
		grid-column: auto/span 12;
	}
	.grid .start-xl-1 {
		grid-column-start: 1;
	}
	.grid .start-xl-2 {
		grid-column-start: 2;
	}
	.grid .start-xl-3 {
		grid-column-start: 3;
	}
	.grid .start-xl-4 {
		grid-column-start: 4;
	}
	.grid .start-xl-5 {
		grid-column-start: 5;
	}
	.grid .start-xl-6 {
		grid-column-start: 6;
	}
	.grid .start-xl-7 {
		grid-column-start: 7;
	}
	.grid .start-xl-8 {
		grid-column-start: 8;
	}
	.grid .start-xl-9 {
		grid-column-start: 9;
	}
	.grid .start-xl-10 {
		grid-column-start: 10;
	}
	.grid .start-xl-11 {
		grid-column-start: 11;
	}
}
@media (min-width: 1400px) {
	.grid .col-xxl-1 {
		grid-column: auto/span 1;
	}
	.grid .col-xxl-2 {
		grid-column: auto/span 2;
	}
	.grid .col-xxl-3 {
		grid-column: auto/span 3;
	}
	.grid .col-xxl-4 {
		grid-column: auto/span 4;
	}
	.grid .col-xxl-5 {
		grid-column: auto/span 5;
	}
	.grid .col-xxl-6 {
		grid-column: auto/span 6;
	}
	.grid .col-xxl-7 {
		grid-column: auto/span 7;
	}
	.grid .col-xxl-8 {
		grid-column: auto/span 8;
	}
	.grid .col-xxl-9 {
		grid-column: auto/span 9;
	}
	.grid .col-xxl-10 {
		grid-column: auto/span 10;
	}
	.grid .col-xxl-11 {
		grid-column: auto/span 11;
	}
	.grid .col-xxl-12 {
		grid-column: auto/span 12;
	}
	.grid .start-xxl-1 {
		grid-column-start: 1;
	}
	.grid .start-xxl-2 {
		grid-column-start: 2;
	}
	.grid .start-xxl-3 {
		grid-column-start: 3;
	}
	.grid .start-xxl-4 {
		grid-column-start: 4;
	}
	.grid .start-xxl-5 {
		grid-column-start: 5;
	}
	.grid .start-xxl-6 {
		grid-column-start: 6;
	}
	.grid .start-xxl-7 {
		grid-column-start: 7;
	}
	.grid .start-xxl-8 {
		grid-column-start: 8;
	}
	.grid .start-xxl-9 {
		grid-column-start: 9;
	}
	.grid .start-xxl-10 {
		grid-column-start: 10;
	}
	.grid .start-xxl-11 {
		grid-column-start: 11;
	}
}
