@mixin rtl($property, $ltr-value, $rtl-value) {
	#{$property}: $ltr-value;

	&[dir='rtl'] {
		#{$property}: $rtl-value;
	}
}
@mixin container($padding-x: $spacer * 4) {
	flex-basis: 100%;
	padding-right: $padding-x;
	padding-left: $padding-x;
	margin-right: auto;
	margin-left: auto;
}
// @mixin media($args...) {
// 	@media screen and (max-width:#{$args}) {
// 		@content;
// 	}
// }
@function tint-color($color, $weight) {
	@return mix($white, $color, $weight);
}
@function shade-color($color, $weight) {
	@return mix($black, $color, $weight);
}
@mixin button-colors($name, $color, $dark: false) {
	@for $i from 0 to length($name) {
		.btn-#{$name} {
			background-color: $color;
			border-color: $color;
			&:hover {
				background-color: shade-color($color, 15%);
				border-color: shade-color($color, 15%);
			}
			&:focus-visible {
				background-color: shade-color($color, 20%);
				border-color: shade-color($color, 20%);
				box-shadow: 0 0 0 $spacer * 0.875 rgba(shade-color($color, 15%), 0.65);
			}
			&:active {
				background-color: shade-color($color, 25%);
				border-color: shade-color($color, 30%);
			}
			@if $dark {
				color: darken($color, 90%);
			} @else {
				color: lighten($color, 90%);
			}
		}
	}
}
