:root {
	--color-primary: #{$primary};
	--color-secondary: #{$secondary};
	--color-success: #{$success};
	--color-info: #{$info};
	--color-warning: #{$warning};
	--color-danger: #{$danger};
	--color-light: #{$light};
	--color-dark: #{$dark};
	--color-white: #{$white};
	--color-gray-100: #{$gray-100};
	--color-gray-200: #{$gray-200};
	--color-gray-300: #{$gray-300};
	--color-gray-400: #{$gray-400};
	--color-gray-500: #{$gray-500};
	--color-gray-600: #{$gray-600};
	--color-gray-700: #{$gray-700};
	--color-gray-800: #{$gray-800};
	--color-gray-900: #{$gray-900};
	--color-black: #{$black};
	--font-family-rtl: #{$font-family-rtl};
	--font-family-ltr: #{$font-family-ltr};
	--font-size-1: #{$h1-font-size};
	--font-size-2: #{$h2-font-size};
	--font-size-3: #{$h3-font-size};
	--font-size-4: #{$h4-font-size};
	--font-size-5: #{$h5-font-size};
	--font-size-6: #{$h6-font-size};
	--font-size-small: #{$small-font-size};
	--font-weight-thin: #{$font-weight-thin};
	--font-weight-extralight: #{$font-weight-extralight};
	--font-weight-light: #{$font-weight-light};
	--font-weight-regular: #{$font-weight-regular};
	--font-weight-medium: #{$font-weight-medium};
	--font-weight-semibold: #{$font-weight-semibold};
	--font-weight-bold: #{$font-weight-bold};
	--font-weight-extrabold: #{$font-weight-extrabold};
	--font-weight-black: #{$font-weight-black};
	--font-weight-lighter: #{$font-weight-lighter};
	--font-weight-bolder: #{$font-weight-bolder};
	--media-xxs: #{$xxs};
	--media-xs: #{$xs};
	--media-sm: #{$sm};
	--media-md: #{$md};
	--media-lg: #{$lg};
	--media-xl: #{$xl};
	--media-xxl: #{$xxl};
}
html {
	scroll-behavior: smooth;
}
