@use 'sass:map';

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$xxs: 0;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

$spacer: 0.25rem;

$container-max-widths: (
	xs: 440px,
	sm: 520px,
	md: 648px,
	lg: 824px,
	xl: 936px,
	xxl: 1112px,
);
$transition-base: all 0.2s ease-in-out;

$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-rtl: Sahel VF, $font-family-sans-serif;
$font-family-ltr: Inter VF, $font-family-sans-serif;
$font-size-base: 1rem;
$font-weight-lighter: lighter;
$font-weight-bolder: bolder;
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;
$font-weight-base: $font-weight-regular;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.5/1.5;
$h2-font-size: $font-size-base * 2/1.5;
$h3-font-size: $font-size-base * 1.75/1.5;
$h4-font-size: $font-size-base * 1.5/1.5;
$h5-font-size: $font-size-base * 1.25/1.5;
$h6-font-size: $font-size-base;
$small-font-size: 0.875em;
$sub-sup-font-size: 0.75em;

$variable: (
	'color': (
		'white': $white,
		'gray-100': $gray-100,
		'gray-200': $gray-200,
		'gray-300': $gray-300,
		'gray-400': $gray-400,
		'gray-500': $gray-500,
		'gray-600': $gray-600,
		'gray-700': $gray-700,
		'gray-800': $gray-800,
		'gray-900': $gray-900,
		'black': $black,
		'primary': $primary,
		'secondary': $secondary,
		'success': $success,
		'info': $info,
		'warning': $warning,
		'danger': $danger,
		'light': $light,
		'dark': $dark,
	),
	'fontWeight': (
		'lighter': $font-weight-lighter,
		'bolder': $font-weight-bolder,
		'thin': $font-weight-thin,
		'extralight': $font-weight-extralight,
		'light': $font-weight-light,
		'regular': $font-weight-regular,
		'medium': $font-weight-medium,
		'semibold': $font-weight-semibold,
		'bold': $font-weight-bold,
		'extrabold': $font-weight-extrabold,
		'black': $font-weight-black,
	),
	'typography': (
		'h1': $h1-font-size,
		'h2': $h2-font-size,
		'h3': $h3-font-size,
		'h4': $h4-font-size,
		'h5': $h5-font-size,
		'h6': $h6-font-size,
	),
);

@warn map.get($variable, 'color', 'white');
