.card {
	display: grid;
	position: relative;
	word-wrap: break-word;
	border: 1px solid rgba(transparent, 0.125);
	border-radius: $spacer * 1.5;
}
.card-img-top {
	border-radius: $spacer * 1.5 $spacer * 1.5 0 0;
}
.card-body {
	flex: 1 1 auto;
	padding: $spacer * 4;
}
.card-title {
	margin-bottom: $spacer * 4;
}
