@use 'sass:math';

html {
	@include rtl(font-family, $font-family-ltr, $font-family-rtl);
}
@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		margin: 0 0 $spacer * 4;
		font-size: calc(map-get($variable, 'typography', h#{$i}) + 0.5vw);
		font-weight: inherit;
		font-variation-settings: 'wght' $font-weight-semibold;
	}
}
p {
	font-size: $font-size-base;
	margin: 0 0 $spacer * 4;
}
small {
	font-size: math.div($font-size-base * 3.5, 4);
}
blockquote {
	display: grid;
	gap: $spacer * 4;
	padding: $spacer * 4;
	background: transparent;
	border-radius: $spacer * 1.5;
	font-size: math.div($font-size-base * 3.5, 4);
	&::before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-quote' viewBox='0 0 16 16'%3E%3Cpath d='M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z'/%3E%3C/svg%3E");
		width: $spacer * 4;
		height: $spacer * 4;
		transform: rotate(180deg) scale(2);
		margin-inline-start: auto;
	}
	+ figcaption {
		text-align: end;
		font-style: italic;
		&::before {
			content: '— ';
		}
	}
	> * {
		margin: 0;
	}
}
